.main__grid {
  display: grid;
  overflow: hidden;
  gap: 3em;
  grid-template-columns: 1fr;
  grid-template-areas:
    "profile"
    " query ";
  justify-content: center;
}

.main__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  grid-area: profile;
  width: 100%;
  gap: 2.5em;
}

.profile__info {
  display: flex;
  width: 80%;
  flex-direction: column;
  gap: 1.8em;
}

.profile__info h1 {
  font-size: 3.2ch;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

.profile__info h2 {
  font-size: 2.3ch;
  font-weight: 500;
  color: var(--text-color);
}

.profile__info h4 {
  font-size: 1.8ch;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

.profile__container {
  width: 280px;
  height: 280px;
  margin: 0 auto;
}

.profile__picture {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(0 0 3px var(--accent-color-transparent2));
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: optimizeQuality;
  mix-blend-mode: normal;
}

.main__aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  grid-area: query;
  width: 100%;
  gap: 2em;
}

.profile__groups {
  display: grid;
  width: 80%;
  gap: 3em;
}

.profile__projects {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  width: 80%;
  gap: 3em;
}

.profile__methods {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1em;
}

.profile__methods .profile__edit__link {
  background-color: var(--text-color2);
  color: var(--bg-actions);
  display: inline-block;
  width: 100%;
  padding: 0.8rem;
  border-radius: 3px;
  text-decoration: none;
  font-size: 2.2ch;
  border: 0.1px solid var(--bg-actions);
  font-weight: 700;
  transition: 0.3s;
  text-align: center;
}

.profile__methods .profile__edit__link:hover {
  background-color: var(--bg-actions);
  font-weight: 900;
  color: var(--text-color2);
  transition: 0.3s;
}

.profile__methods form {
  display: flex;
  flex-direction: row;
  width: 20%;
}

.profile__methods form .btn__delete {
  color: var(--bg);
  background: var(--accent-color);
  font-family: "Inter", sans-serif;
  font-size: 2ch;
  font-weight: 500;
  width: 100%;
  border: 0.1px solid var(--bg);
  border-radius: 3px;
  transition: 0.3s;
  padding: 0.3rem;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.profile__methods form .btn__delete:hover {
  background: var(--bg);
  color: var(--accent-color);
  border: 0.1px solid var(--accent-color);
  transition: 0.3s;
}

.title__container {
  align-items: center;
  display: flex;
  gap: 1em;
}

.title__container > a {
  color: var(--text-color2);
  background: var(--check-color);
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.5ch;
  font-weight: 800;
  padding: 0.5rem;
  transition: 0.3s;
  text-align: center;
  align-items: center;
  text-decoration: none;
}

.title__container > a:hover {
  background: var(--check-hover-color);
  color: var(--bg);
  transition: 0.3s;
  /* incremenent */
  padding: 0.5rem 1rem;
}

.profile__title {
  font-size: 3ch;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

.inv__container {
  display: grid;
  border-radius: 5px;
  height: auto;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 2em;
  margin-right: 2rem;
}

.profile__groups__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2em;
  margin-right: 2rem;
}

.profile__groups__list > .card__group {
  border-radius: 5px;
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  padding: 1.4em;
  box-shadow: 0 0 2px var(--accent-color-transparent);
}

.card__group .card__title {
  /* center font */
  font-size: 2.4ch;
  margin: 0.4rem;
  font-weight: 700;
  color: var(--text-color);
  text-align: center;
  text-decoration: none;
}

.card__group .card__title:hover {
  text-decoration-thickness: underline;
  color: var(--accent-color);
  font-weight: bolder;
  font-weight: 900;
}

.card__date {
  text-decoration: none;
  font-size: 1.8ch;
  color: var(--text-color);
  text-decoration: none;
}

.card__date:hover {
  text-decoration-thickness: underline;
  color: var(--bg-actions);
  font-weight: bolder;
}

.card__article {
  border-radius: 5px;
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  padding: 1.4em;
  box-shadow: 0 0 2px var(--accent-color-transparent);
}

.card__article:hover .card__data {
  opacity: 1;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.card__data span {
  font-size: 1.5ch;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

.card__button {
  color: var(--text-color2);
  background: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.8ch;
  font-weight: 600;
  padding: 0.8rem;
  transition: 0.3s;
  text-align: center;
  text-decoration: none;
}

.card__button:hover {
  background: var(--hover-color);
  color: var(--bg);
  transition: 0.3s;
}

/* media  */

@media (min-width: 900px) {
  .main__grid {
    margin: 0 auto;
    padding: 0 2rem;
    margin-top: 6rem;
    max-width: 1600px;
    width: 90%;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "profile query query query";
  }

  .profile__info {
    width: 100%;
  }

  .profile__container {
    width: 300px;
    height: 300px;
  }

  .profile__projects {
    width: 100%;
  }

  .main__aside {
    margin: 1rem 2rem 1rem 2rem;
    align-items: initial;
    border-left: 0.1px solid var(--accent-color-transparent2);
    padding-left: 4rem;
  }
}
