/* imports fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Raleway:ital,wght@0,400;1,600&display=swap");

:root {
  --bg: #ffffff;
  --bg2: #fefefe;
  --bg-actions: #121212;
  --secondary-color: #6793ff;
  --accent-color: #f34a48;
  --hover-color: #c43331;
  --check-color: rgb(123, 215, 92);
  --check-hover-color: rgb(92, 194, 58);
  --text-color: #121212;
  --text-color2: #fefefe;
  --error-color: #f44336;
  --subtext-color: #2c2c2c;
  --accent-color-transparent: #06080a3c;
  --accent-color-transparent2: #06080a2f;
  --icon-close: url("../../icons/icon-close-menu.svg");
  --icon-menu: url("../../icons/icon-menu.svg");
  --icon-page: url("../../icons/icon-page.svg");
  --icon-theme: url("../../icons/icon-sun.svg");
  --h1: 48px;
  --h2: 32px;
  --subtitle: 24px;
  --p: 18px;
  --sub: 16px;
}

html {
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  color: var(--text-color);
  background-color: var(--bg);
}
/* define pallete colors */
body.dark {
  --bg: #06080a;
  --bg2: #06080a;
  --bg-actions: #e0dcd1;
  --secondary-color: #1a2840;
  --accent-color: #79a6fe;
  --hover-color: #5586e8;
  --check-color: rgb(146, 254, 107);
  --check-hover-color: rgb(112, 251, 61);
  --text-color: #d0caba;
  --text-color2: #07090b;
  --error-color: #cb2f24;
  --subtext-color: #e0dcd1;
  --accent-color-transparent: #e0dcd128;
  --accent-color-transparent2: #00000071;
  --icon-close: url("../../icons/icon-close-menu-dark.svg");
  --icon-menu: url("../../icons/icon-menu-dark.svg");
  --icon-page: url("../../icons/icon-page-dark.svg");
  --icon-theme: url("../../icons/icon-moon.svg");
  --h1: 48px;
  --h2: 32px;
  --subtitle: 24px;
  --p: 18px;
  --sub: 16px;
}

.theme-toogle {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-image: var(--icon-theme);
  background-color: var(--bg-actions);
  background-repeat: no-repeat;
  box-shadow: 0 0 10px var(--accent-color-transparent);
  border: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.svg {
  fill: var(--text-color);
}
