/* imports css */

@import url("base.css");

.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1600px;
}

.nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__hamburguer {
  width: 30px;
  height: 50%;
  background-image: var(--icon-menu);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 999;
  transition: background-image 0.3s;
}

.nav__hamburguer--open {
  background-image: var(--icon-close);
}

.nav__overlay {
  background-color: #000000a7;
  position: fixed;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s opacity;
}

.nav__overlay--show {
  opacity: 1;
  pointer-events: unset;
  z-index: 998;
}

.nav__menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--bg2);
  width: 80%;
  max-width: 400px;
  padding: 0;
  list-style: none;
  overflow: auto;
  padding: 70px 0;
}

.nav__item {
  width: 80%;
  margin: 0 auto;
  cursor: pointer;
  padding: 20px 0;
  font-size: 2ch;
}

.nav__item:has(.nav__parent) {
  padding: 0;
}

.logo {
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: row;
  gap: 1em;
}

.logo__icon {
  width: 40px;
  height: 40px;
  background-image: var(--icon-page);
  background-repeat: no-repeat;
  background-position: center;
}

.logo__name {
  font-size: 3.2ch;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: var(--text-color);
}

.nav__inner {
  list-style: none;
  padding: 0;
  width: 80%;
  margin: 0 auto;
  display: grid;
  gap: 1.5em;
  overflow: hidden;
  height: 0;
  transition: height 0.4s;
}

.nav__parent {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 1em;
  padding: 20px 0;
}

.nav__parent .nav__image-perfil {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: optimizeQuality;
  filter: drop-shadow(0 0 0.15rem var(--accent-color-transparent));
  aspect-ratio: 3/2;
  object-fit: cover;
  mix-blend-mode: normal;
}

.nav__parent:hover {
  color: var(--bg-actions);
  font-weight: 700;
}

.arrow__down {
  width: 8px;
  height: 10px;
  background-image: url("../../icons/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s;
}

.nav__link {
  text-decoration: none;
  color: var(--text-color);
}
.nav__item a:hover {
  text-decoration-thickness: underline;
  color: var(--bg-actions);
  font-weight: bolder;
}

.nav__login {
  text-align: center;
  color: var(--accent-color);
  font-weight: bold;
  text-decoration: underline solid 3px;
}

.nav__login a {
  text-decoration: none;
  color: var(--accent-color);
}

.nav__login a:hover {
  color: var(--hover-color);
  text-decoration: underline solid 3px;
}

.nav__contain_sign {
  text-align: center;
  font-weight: bold;
  text-decoration: underline solid 3px;
  margin-top: 2rem;
}

.nav__sign {
  display: inline-block;
  text-align: center;
  background-color: var(--bg-actions);
  color: var(--bg);
  border-radius: 3px;
  padding: 0.7em 1em;
  text-decoration: none;
  color: var(--bg);
  font-weight: 600;
}

.nav__sign:hover {
  background-color: var(--bg);
  color: var(--bg-actions);
}

/* .media*/

@media (min-width: 1240px) {
  .nav {
    overflow: visible;
    padding: 2rem 0 0;
    margin-top: 0;
  }

  .nav__hamburguer {
    display: none;
  }

  .nav__overlay {
    position: unset;
    background-color: transparent;
    opacity: 1;
    pointer-events: unset;
    flex: 1;
  }

  .nav__menu {
    position: unset;
    width: 100%;
    max-width: unset;
    background-color: unset;
    padding: 0;
    overflow: unset;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;
  }

  .nav__item {
    width: max-content;
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 1.8ch;
  }

  .nav__inner {
    position: absolute;
    left: 0;
    width: max-content;
    height: auto;
    padding: 2em;
    background-color: var(--bg2);
    z-index: 1000;
    border-radius: 6px;
    border: 1px solid var(--accent-color-transparent);
    transition: opacity 0.3s;
    opacity: 0;
    pointer-events: none;
  }

  .nav__inner--show {
    opacity: 1;
    pointer-events: unset;
  }

  .nav__contain_sign {
    width: auto;
    margin-top: 0;
  }
}
