.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 4rem auto;
  gap: 2em;
}

.hero__container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  max-height: 500px;
}

.hero__container > img {
  border-radius: 6px;
  width: 100%;
  height: auto;
  box-shadow: 0 0 10px var(--accent-color-transparent);
  aspect-ratio: 16/9;
  box-sizing: border-box;
  object-fit: cover;
}

.hero__container:hover img {
  transform: scale(1.1);
  transition: 0.3s;
}

.hero__container .card__text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  text-align: center;
  overflow: auto;
  box-sizing: border-box;
  background-color: var(--accent-color-transparent2);
  gap: 1em;
}

.card__text h1 {
  font-size: 3ch;
  font-weight: 700;
  color: #f3eee1;
  text-shadow: 0 0 10px var(--accent-color-transparent2);
}

.card__text h2 {
  font-size: 2.4ch;
  font-weight: 700;
  color: var(--accent-color);
  text-shadow: 10px var(--accent-color-transparent);
}

.article__info {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 2em 0;
}

.article__info h2 {
  font-size: 2.6ch;
  font-weight: 700;
  color: var(--text-color);
  text-decoration: none;
}

.article__info p {
  font-size: 2ch;
  font-weight: 400;
  color: var(--text-color);
  text-decoration: none;
  letter-spacing: 0.8px;
}

.article__info h3 {
  font-size: 2.6ch;
  font-weight: 700;
  color: var(--text-color);
  text-decoration: none;
}

.group__info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.group__info .group__link {
  font-size: 1.8ch;
  margin: 0.4rem;
  font-weight: 500;
  color: var(--secondary-color);
  text-align: center;
  text-decoration: none;
}

.project__state {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  border-top: 1px solid var(--accent-color-transparent);
  padding: 2em 0;
}

.section__donate {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2em;
  justify-content: space-between;
}

.section__donate form {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: space-evenly;
}

.section__donate input[type="number"] {
  width: 80%;
  background-color: var(--bg2);
  border: 1px solid var(--accent-color-transparent);
  border-radius: 8px;
  flex-grow: 1;
  resize: none;
  text-align: left;
  font-size: 1.6ch;
  color: var(--text-color);
  padding: 0.5em;
}

.section__comments {
  display: flex;
  flex-direction: column;
  gap: 3em;
  width: 100%;
  border-top: 1px solid var(--accent-color-transparent);
  padding: 3em 0;
}

.section__comments form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.comments__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.comment__container {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

.comment__container .user__info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  width: 10%;
  overflow: hidden;
  min-width: 80px;
  text-align: center;
}

.user__info a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5ch;
  font-weight: 500;
}

.comment__image {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  object-fit: cover;
  aspect-ratio: 1/2;
}

.comment__container h2 {
  margin: 0;
  font-size: 1.8ch;
  font-weight: 500;
}

.comment__container p {
  margin: 5px 0;
}

.comment__info {
  border-radius: 4px;
  border: 1px solid var(--accent-color-transparent);
  width: 100%;
  padding: 0.5em 1.2em;
}

.comment__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comment__form input[type="text"] {
  background-color: var(--bg2);
  border: 1px solid var(--accent-color-transparent);
  border-radius: 8px;
  flex-grow: 1;
  resize: none;
  text-align: left;
  font-size: 1.6ch;
  color: var(--text-color);
  margin-bottom: 1em;
  padding: 2em;
}

button {
  align-self: flex-end;
  color: var(--text-color2);
  background: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  font-family: "raleway", sans-serif;
  font-weight: 600;
  font-size: 2ch;
  color: var(--bg);
  padding: 0.7em 1.4em;
  transition: 0.3s;
  text-align: center;
  align-items: center;
  border: none;
}

.comment__form button[type="submit"]:hover {
  background: var(--hover-color);
  transition: 0.3s;
}

input[type="number"] {
  background-color: var(--bg2);
  border: 1px solid var(--accent-color-transparent);
  border-radius: 4px;
  flex-grow: 1;
  resize: none;
  text-align: left;
  font-size: 1.6ch;
  color: var(--text-color);
  padding: 0.5em;
}

/* media */

@media screen and (min-width: 900px) {
  .main__container {
    width: 80%;
    max-width: 1400px;
    margin: 4rem auto;
  }

  .article__info {
    flex-direction: column;
    justify-content: space-between;
    gap: 2.6em;
    width: 100%;
  }

  .group__info {
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    width: 100%;
  }

  .card__text h1 {
    font-size: 4ch;
    text-shadow: 0 0 10px var(--accent-color-transparent2);
  }

  .card__text h2 {
    font-size: 3.4ch;
    text-shadow: 10px var(--accent-color-transparent);
  }

  .section__donate {
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
  }
}
