<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/group/create.css') }}"
/>

{% extends "base.html" %} {% block content %} {% include "navbar.html" %}

<main class="main__container">
  <section>
    <h1>Crear Grupo</h1>

    <form
      class="formulate__container"
      method="post"
      name="formCreateGroup"
      enctype="multipart/form-data"
    >
      <label for="nombregrupos">Nombre del Grupo:</label>
      <input type="text" id="nombregrupos" name="name" required />

      <label for="descripciongrupos">Descripcion:</label>
      <input type="text" id="descripciongrupos" name="descripcion" required />

      <!-- image icon -->
      <label for="descripciongrupos">Imagen:</label>
      <div class="file__container-upload">
        <label class="image-plus__icon">
          <img
            src="{{ url_for('static', filename='icons/user/photo-plus.svg') }}"
            alt="image-upload"
            id="image-upload-icon"
            class="image-upload__icon"
          />
        </label>
        <!-- input perfil image -->
        <button class="file-upload" type="button">
          <span class="file-upload-label">Subir Foto del Grupo</span>
          <label for="profile"></label>
          <input
            type="file"
            id="profile"
            accept="image/*"
            class="file-upload-input"
            name="image_profile"
            onchange="checkSubmitFile()"
          />
        </button>
      </div>

      <input class="btn" type="submit" value="Crear Grupo" />
    </form>
  </section>
</main>

<script src="{{ url_for('static', filename='js/checkSubmitFile.js') }}"></script>

{% endblock %}
