/* hero */

.main__grid {
  overflow: hidden;

  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-areas: "img img img" ".   text . ";
}

.main__article {
  padding: 56px 0;
  text-align: center;
  grid-area: text;
}

.main__title {
  font-size: 2rem;
}

.main__paragraph {
  line-height: 1.5;
  margin: 1.5em 0;
}

.color-effect {
  font-weight: 900;

  background: linear-gradient(
    120deg,
    var(--subtext-color),
    var(--accent-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main__cta {
  background-color: var(--bg-actions);
  color: var(--text-color2);
  display: inline-block;
  padding: 0.8em 1.5em;
  border-radius: 3px;
  text-decoration: none;
  font-weight: 700;
}

.main__picture {
  grid-area: img;
  max-width: 400px;
  margin: 0 auto;
}

.main__img {
  width: 100%;
}

.main__brands {
  display: grid;
  gap: 1em;
  grid-auto-flow: column;
  grid-auto-columns: minmax(30px, 100px);
  align-items: center;
  justify-content: space-between;
  margin: 40px 0 80px;
}

.main__brand {
  width: 100%;
}

@media (min-width: 900px) {
  .main__grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
    gap: 3em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text img";
    padding: 8em 0;
  }

  .main__picture {
    max-height: 500px;
  }

  .main__img {
    height: 100%;
  }

  .main__article {
    text-align: left;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .main__brands {
    margin: 3em 0 0 0;
  }

  .main__texts {
    margin: auto 0;
    gap: 1.3em 0;
  }

  .main__title {
    font-size: 3rem;
  }

  .main__paragraph {
    margin: 2em 0;
    font-size: 1.2rem;
    font-weight: lighter;
    font-style: normal;
    font-family: "Inter", sans-serif;
    color: var(--subtext-color);
    line-height: 1.6;
  }
}
