<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/login.css') }}"
/>

{% extends "base.html" %} {% block content %}

<div class="flex container">
  <div class="flex login-card">
    <h1>YStart<span>Up</span></h1>
    <h5>Inicia Sesion con tu Cuenta</h5>
    <form
      name="form1"
      method="post"
      class="flex box"
      onsubmit="return checkStuff()"
    >
      <input
        type="email"
        name="email"
        placeholder="Correo Electronico"
        autocomplete="off"
        required
        autofocus
      />
      <input
        type="password"
        name="password"
        placeholder="Contraseña"
        autocomplete="off"
        required
      />
      <input type="submit" value="Iniciar Sesion" class="btn1" />
    </form>
    <a href="/user/register" class="havent">No tienes una cuenta? Registrate</a>
  </div>
</div>

{% endblock %}
