<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/user/login.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/components/message.css') }}"
/>

{% extends "base.html" %} {% block content %}

<div class="flex container">
  <div class="flex login-card">
    <h1>YStart<span>Up</span></h1>
    <h5>Inicia Sesion con tu Cuenta</h5>
    <form
      name="form1"
      method="post"
      class="flex box"
      onsubmit="return checkStuff()"
    >
      <input
        type="text"
        name="email_or_username"
        placeholder="Usuario o Correo Electronico"
        autocomplete="off"
        required
        autofocus
      />
      <input
        type="password"
        name="password"
        placeholder="Contraseña"
        autocomplete="off"
        required
      />
      <input type="submit" value="Iniciar Sesion" class="btn1" />
    </form>
    <a href="{{ url_for('user.register') }}" class="havent"
      >No tienes una cuenta? Registrate</a
    >
  </div>
</div>

<div class="notify-messages">
  {% with messages = get_flashed_messages(with_categories=true) %} {% for
  category, message in messages %} {% if category == "success" %}
  <div class="message success" role="alert">
    {{ message }} <i class="ti ti-check"></i>
  </div>
  {% elif category == "error" %}
  <div class="message error" role="alert">
    {{ message }} <i class="ti ti-trash-filled"></i>
  </div>
  {% endif %} {% endfor %} {% endwith %}
</div>

<script src="{{ url_for('static', filename='js/messages.js') }}"></script>

{% endblock %}
