<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/user/profile.css') }}"
/>

{% extends "base.html" %} {% block content %} {% include "navbar.html" %}

<main class="main__grid">
  <!-- profile sidebar -->
  <article class="main__article">
    <div class="profile__container">
      <img
        src="{{user.image_perfil}}"
        alt="profile picture"
        class="profile__picture"
      />
    </div>

    <div class="profile__info">
      <h1>{{ user.nombre }}</h1>
      <h2>{{ user.email }}</h2>
      <h4>
        <i class="ti ti-location-filled"></i> {{ user.pais }} - {{ user.ciudad
        }}
      </h4>
      <h4><i class="ti ti-phone-filled"></i> {{ user.telefono }}</h4>
      <h4 class="profile__fecha">
        <i class="ti ti-align-box-left-middle-filled"></i> {{
        user.fecha_nacimiento }}
      </h4>
      {% if g.user.id_usuario == user.id_usuario %}
      <section class="profile__methods">
        <a href="{{ url_for('user.update') }}" class="profile__edit__link"
          ><i class="ti ti-edit"></i> Editar Perfil</a
        >
        <form method="POST" action="{{ url_for('user.delete_session') }}">
          <button class="btn__delete" type="submit">
            <i class="ti ti-trash-filled"></i>
          </button>
        </form>
      </section>
      {% endif %}
    </div>
  </article>

  <aside class="main__aside">
    <div class="profile__groups">
      <div class="title__container">
        <h2 class="profile__title">Grupos</h2>
        {% if g.user.id_usuario == user.id_usuario %}
        <a href="{{ url_for('group.create') }}">
          <i class="ti ti-user-filled"></i> Agregar</a
        >
        {% endif %}
      </div>
      <section class="profile__groups__list">
        <!-- <p>No hay grupos disponibles</p> -->

        <!-- <div class="card__group">
          <a href="" class="card__title"><i class="ti ti-external-link"></i> Team Name</a>
          <p class="card__date">Pablo Pincay</p>
          <p class="card__date">Miguel Nunez</p>
          <p class="card__date">Jeshua Naranjo</p>
          <p class="card__date">Samantha Mendoza</p>
        </div> -->

        {% if grupos %} {% for group in grupos %}
        <div class="card__group">
          <a
            href="{{ url_for('group.index', id=group.id_grupo_colaboradores) }}"
            class="card__title"
            >{{group.nombre}} <i class="ti ti-external-link"></i>
          </a>

          {% if group.usuario_grupos %} {% for user in group.usuario_grupos %}
          <a
            href="{{ url_for('user.profile_by_id', username=user.nombre) }}"
            class="card__date"
            ><i class="ti ti-user-filled"></i> {{user.nombre}}
          </a>
          {% endfor %} {% else %}
          <p class="card__date">No hay usuarios</p>
          {% endif %}
        </div>
        {% endfor %} {% else %}

        <p>No hay grupos disponibles</p>

        {% endif %}
      </section>
    </div>

    <div class="profile__projects">
      <div class="title__container">
        <h2 class="profile__title">Proyectos</h2>
        {% if g.user.id_usuario == user.id_usuario %}
        <a href=""> <i class="ti ti-apps-filled"></i> Agregar </a>
        {% endif %}
      </div>

      <section class="projects__container">
        <!-- <article class="card__article">
          <img
            class="media"
            src="{{ url_for('static', filename='img/project.png')  }}"
            alt="image this project"
          />
          <div class="card__data">
            <span class="card__date">21-05-2023</span>
            <h2 class="card__title">The best Project</h2>
            <a href="#" class="card__button">Ver mas</a>
          </div>
        </article> -->

        <article class="card__article">
          <img
            class="media"
            src="{{ url_for('static', filename='img/project.png')  }}"
            alt="image this project"
          />
          <div class="card__data">
            <span class="card__date">21-05-2023</span>
            <h2 class="card__title">The best Project</h2>
            <a href="#" class="card__button">Ver mas</a>
          </div>
        </article>

        <article class="card__article">
          <img
            class="media"
            src="{{ url_for('static', filename='img/project.png')  }}"
            alt="image this project"
          />
          <div class="card__data">
            <span class="card__date">21-05-2023</span>
            <h2 class="card__title">The best Project</h2>
            <a href="#" class="card__button">Ver mas</a>
          </div>
        </article>

        <article class="card__article">
          <img
            class="media"
            src="{{ url_for('static', filename='img/project.png')  }}"
            alt="image this project"
          />
          <div class="card__data">
            <span class="card__date">21-05-2023</span>
            <h2 class="card__title">The best Project</h2>
            <a href="#" class="card__button">Ver mas</a>
          </div>
        </article>

        <article class="card__article">
          <img
            class="media"
            src="{{ url_for('static', filename='img/project.png')  }}"
            alt="image this project"
          />
          <div class="card__data">
            <span class="card__date">21-05-2023</span>
            <h2 class="card__title">The best Project</h2>
            <a href="#" class="card__button">Ver mas</a>
          </div>
        </article>

        <article class="card__article">
          <img
            class="media"
            src="{{ url_for('static', filename='img/project.png')  }}"
            alt="image this project"
          />
          <div class="card__data">
            <span class="card__date">21-05-2023</span>
            <h2 class="card__title">The best Project</h2>
            <a href="#" class="card__button">Ver mas</a>
          </div>
        </article>

        <article class="card__article">
          <img
            class="media"
            src="{{ url_for('static', filename='img/project.png')  }}"
            alt="image this project"
          />
          <div class="card__data">
            <span class="card__date">21-05-2023</span>
            <h2 class="card__title">The best Project</h2>
            <a href="#" class="card__button">Ver mas</a>
          </div>
        </article>
      </section>
    </div>
  </aside>

  <!-- groups and projects -->
</main>

<!-- flash messages -->

<div class="notify-messages">
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %} {% if category ==
  "success" %}
  <div class="message success" role="alert">
    {{ message }} <i class="ti ti-check"></i>
  </div>
  {% elif category == "error" %}
  <div class="message error" role="alert">
    {{ message }} <i class="ti ti-trash-filled"></i>
  </div>
  {% endif %} {% endfor %} {% endif %} {% endwith %}
</div>

<script src="{{ url_for('static', filename='js/messages.js') }}"></script>

{% endblock %}
