<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/user/register.css') }}"
/>

{% extends "base.html" %} {% block content %}

<div class="flex container">
  <div class="flex register-card">
    <h1>YStart<span>Up</span></h1>
    <h4>Registra tu Cuenta Aqui</h4>
    <form
      method="post"
      name="formRegister"
      class="flex box"
      enctype="multipart/form-data"
    >
      <input
        type="text"
        name="username"
        placeholder="Nombre Completo"
        autocomplete="off"
        oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')"
        required
      />
      <input
        type="email"
        name="email"
        placeholder="Correo Electronico"
        autocomplete="off"
        required
      />
      <input
        type="date"
        name="date_born"
        placeholder="Fecha de Nacimiento"
        autocomplete="off"
        required
      />
      <input
        type="text"
        name="country"
        placeholder="Pais de Residencia"
        autocomplete="off"
        oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')"
        required
      />
      <input
        type="text"
        name="city"
        placeholder="Ciudad de Residencia"
        autocomplete="off"
        oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')"
        required
      />

      <input
        type="text"
        name="phone"
        placeholder="Numero de Telefono"
        autocomplete="off"
        oninput="this.value = this.value.replace(/[^0-9 ]/g, '')"
        required
      />

      <!-- image icon -->

      <div class="file__container-upload">
        <label>
          <img
            src="{{ url_for('static', filename='icons/user/photo-plus.svg') }}"
            alt="image-upload"
            id="image-upload-icon"
            class="image-upload__icon"
          />
        </label>
        <!-- input perfil image -->
        <button class="file-upload">
          <span class="file-upload-label">Subir Foto de Perfil</span>
          <label for="profile"></label>
          <input
            type="file"
            id="profile"
            accept="image/*"
            name="image_profile"
            onchange="checkSubmitFile()"
          />
        </button>
      </div>

      <input
        type="password"
        name="password"
        placeholder="Contraseña"
        autocomplete="off"
        required
      />
      <input type="submit" value="Registrar" class="btn1" />
    </form>
    <a href="/user/login" class="havent">Ya tienes una cuenta? Log In</a>
  </div>
</div>

<script src="{{ url_for('static', filename='js/checkSubmitFile.js') }}"></script>

{% endblock %}
