<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>CrowdFunding</title>

    <!-- jinja2 static css -->
    <link
      rel="stylesheet"
      href="{{ url_for('static',  filename='css/components/navbar.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/components/errors.css') }}"
    />

    <!-- icon page -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='icons/icon-page.svg') }}"
    />
    <!-- link to chosen google fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,600,900&display=swap"
      rel="stylesheet"
    />

    <!-- Cnd icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.42.0/tabler-icons.min.css"
    />
  </head>

  <body class="">
    {% block content %} {% endblock %}
    <div id="theme-toogle" class="theme-toogle"></div>
  </body>
  <script src="{{ url_for('static', filename='js/toogleTheme.js') }}"></script>
</html>
