<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/components/footer.css') }}"
/>

<!--  footer   -->

<footer class="footer">
  <div class="footer__container">
    <section class="footer__about">
      <h2>Acerca de nosotros</h2>
      <a href="#" class="link">Como funciona</a>
      <a href="#" class="link">Inversionistas</a>
      <a href="#" class="link">Terminos de servicio</a>
    </section>

    <section class="footer__contact">
      <h2>Contactanos</h2>
      <a class="link" href="#">Contacto</a>
      <a class="link" href="#">Soporte</a>
    </section>

    <section class="social__media">
      <h2>Social Media</h2>
      <a href="#" class="link" target="_blank"
        ><i class="ti ti-brand-meta"></i> Facebook</a
      >
      <a href="#" class="link" target="_blank"
        ><i class="ti ti-brand-instagram"></i> Instagram</a
      >
      <a href="#" class="link" target="_blank"
        ><i class="ti ti-brand-youtube"></i> Youtube</a
      >
      <a href="#" class="link" target="_blank"
        ><i class="ti ti-brand-twitter"></i> Twitter</a
      >
    </section>

    <section class="footer__link">
      <a href="{{ url_for('index')  }}" class="logo__name">YStartUp</a>
      <p class="website__rights">
        © YStartUp 2023. Todos los derechos reservados
      </p>
    </section>
  </div>
</footer>
