<nav class="nav container">
  <div class="logo">
    <div class="logo__icon"></div>
    <a href="/" class="logo__name">YStartUp</a>
  </div>

  <div class="nav__hamburguer"></div>

  <section class="nav__overlay">
    <ul class="nav__menu">
      <li class="nav__item">
        <span class="nav__parent can__open"
          >Descubre Proyectos
          <div class="arrow__down"></div>
        </span>

        <ul class="nav__inner">
          <li class="nav__dropdown">
            <a href="{{ url_for('projects.index')  }}" class="nav__link">
              <i class="ti ti-border-all"></i>
              Todos los Proyectos
            </a>
          </li>

          <li class="nav__dropdown">
            <a href="{{ url_for('group.all_group')  }}" class="nav__link">
              <i class="ti ti-archive"></i>
              Todos los Grupos
            </a>
          </li>

          <li class="nav__dropdown">
            <a href="/projects" class="nav__link">
              <i class="ti ti-chart-histogram"></i>
              Inversiones mas Altas
            </a>
          </li>
        </ul>
      </li>

      <li class="nav__item">
        <span class="nav__parent can__open"
          >Nosotros
          <div class="arrow__down"></div>
        </span>

        <ul class="nav__inner">
          <li class="nav__dropdown">
            <a href="/projects" class="nav__link"
              ><i class="ti ti-database"></i> Proyecto Datos</a
            >
          </li>

          <li class="nav__dropdown">
            <a href="/projects" class="nav__link"
              ><i class="ti ti-box"></i> Nuestro Equipo</a
            >
          </li>
        </ul>
      </li>

      <li class="nav__item">
        <a href="{{ url_for('projects.create') }}" class="nav__link"
          >Empieza Tu Proyecto</a
        >
      </li>

      <li class="nav__item">
        <a href="#" class="nav__link">Como Funciona</a>
      </li>

      {% if g.user %}

      <li class="nav__item">
        <span class="nav__parent can__open">
          <img
            src="{{g.user.image_perfil}}"
            class="nav__image-perfil"
            alt="Perfil"
          />
          {{ g.user.nombre }}
          <div class="arrow__down"></div>
        </span>

        <ul class="nav__inner">
          <li class="nav__dropdown">
            <a href="{{ url_for('user.profile') }}" class="nav__link"
              ><i class="ti ti-user"></i> Perfil</a
            >
          </li>

          <li class="nav__dropdown">
            <a href="{{ url_for('user.update') }}" class="nav__link"
              ><i class="ti ti-settings"></i> Editar Perfil</a
            >
          </li>

          <li class="nav__dropdown">
            <a href="{{ url_for('user.logout') }}" class="nav__link"
              ><i class="ti ti-logout"></i> Cerrar Sesion</a
            >
          </li>
        </ul>
      </li>

      {% else %}

      <li class="nav__login login">
        <a href="{{ url_for('user.login') }}" class="">Iniciar Sesion</a>
      </li>
      <li class="nav__contain_sign">
        <a href="{{ url_for('user.register') }}" class="nav__sign"
          >Registrate</a
        >
      </li>

      {% endif %}
    </ul>
  </section>
</nav>

<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
