<!-- Error 404 Page -->

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/notFind.css') }}"
/>

<title>{{title}}</title>

{% extends "base.html" %} {% block content %}

<main class="flex container">
  <section class="flex notFound__container">
    <h1 class="notFound__title">404</h1>
    <p class="notFound__description">{{ message }}</p>
    <a href="/" class="main__link">Volver al inicio</a>
  </section>
</main>

<!-- flash messages -->

<div class="notify-messages">
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %} {% if category ==
  "success" %}
  <div class="message success" role="alert">
    {{ message }} <i class="ti ti-check"></i>
  </div>
  {% elif category == "error" %}
  <div class="message error" role="alert">
    {{ message }} <i class="ti ti-trash-filled"></i>
  </div>
  {% endif %} {% endfor %} {% endif %} {% endwith %}
</div>

<script src="{{ url_for('static', filename='js/messages.js') }}"></script>

{% endblock %}
