/* imports fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Raleway:ital,wght@0,400;1,600&display=swap");

/* define pallete colors */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #06080a;
    --bg2: #06080a;
    --bg-actions: #e0dcd1;
    --secondary-color: #1a2840;
    --accent-color: #79a6fe;
    --hover-color: #5586e8;
    --text-color: #d0caba;
    --text-color2: #07090b;
    --subtext-color: #e0dcd1;
    --accent-color-transparent: #e0dcd121;
    --logo: red;
    --h1: 48px;
    --h2: 32px;
    --subtitle: 24px;
    --p: 18px;
    --sub: 16px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #ffffff;
    --bg2: #fefefe;
    --bg-actions: #121212;
    --secondary-color: #6793ff;
    --accent-color: #e44542;
    --hover-color: #d73c39;
    --text-color: #121212;
    --text-color2: #fefefe;
    --subtext-color: #2c2c2c;
    --accent-color-transparent: #06080a23;
    --logo: red;
    --h1: 48px;
    --h2: 32px;
    --subtitle: 24px;
    --p: 18px;
    --sub: 16px;
  }
}

html {
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  scroll-padding-top: 3em;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--bg);
  color: var(--text-color);
  font-size: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4em;
  color: var(--text-color);
  background-color: var(--bg);
}
