/* hero */

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 6em;
  gap: 3em;
}

.color-effect {
  background: linear-gradient(
    120deg,
    var(--subtext-color),
    var(--accent-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  width: 50%;
}

.hero-cta {
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
}

.hero-scroll {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  font-size: 1.2rem;
}

.mondrian {
  max-width: 100%;
}

button {
  color: var(--bg);
  border: none;
  border-radius: 3px;
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--bg-actions);
}

.subtitle {
  font-size: 1.4rem;
  font-weight: lighter;
  font-style: normal;
  font-family: "Inter", sans-serif;
  color: var(--subtext-color);
  line-height: 1.5;
}

.hero-title {
  font-size: 3rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin-bottom: 0.5em;
}
