/* imports css */

@import url("base.css");

.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 1.8em;
  background-color: var(--bg-ascent);
  border-radius: 6px;
}

.navbar-links {
  display: inherit;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2em;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  text-decoration-thickness: underline;
  font-weight: bolder;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.navbar button {
  color: var(--bg);
  border: none;
  border-radius: 3px;
  padding: 0.7rem 1.2rem;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--bg-actions);
}

h1 {
  font-size: 26px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.navbar .login {
  color: var(--accent-color);
  font-weight: bold;
  text-decoration: underline solid 3px;
}
