<link rel="stylesheet" href="{{ url_for('static', filename='css/project/project.css') }}" />

{% extends "base.html" %} {% block content %} {% include "navbar.html" %}

<section class="section__form">
  <h1 class="main__title">Crear Proyecto</h1>

  <h3 class="sub_title">
    Crea tu proyecto en YStartUp y cuentanos Que es lo que esas manos desean crear!
  </h3>

  <form name="formCreate" method="post" class="container__form" enctype="multipart/form-data">
    <label for="titleProject">Nombre del Proyecto:</label>
    <input
      type="text"
      name="nameProject"
      placeholder="Nombre del Proyecto"
      autocomplete="off"
      id="titleProject"
      oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '')"
      required
    />

    <label for="nameGroup"> Nombre del grupo (Existente):</label>

    <input
      type="text"
      name="nameGroup"
      placeholder="Nombre del Grupo del Proyecto"
      autocomplete="off"
      id="nameGroup"
      oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '')"
      required
    />

    <label for="ideaProject"> Idea del Proyecto:</label>

    <input
      type="text"
      name="ideaProject"
      placeholder="Idea del Proyecto"
      autocomplete="off"
      id="ideaProject"
      oninput="this.value =
        this.value.replace(/[^a-zA-Z0-9 ]/g, '')"
      required
    />

    <label for="image_present">
      Ingresa tus prototipos o presentaciones en formato png, jpg:
    </label>

    <label for="image_present" class="drop-container" id="dropcontainer">
      <span class="drop-title">Arrastra tus imagenes</span>
      <input type="file" name="image_present" id="image_present" accept="image/*" required />
    </label>

    <label for="description"> Escribe la descriptcion del Proyecto:</label>
    <textarea
      name="description"
      id="description"
      cols="30"
      rows="10"
      contenteditable="true"
      placeholder="Escribe la descriptcion del Proyecto"
    >
    </textarea>

    <label for="date_limit">Fecha de finalizacion del Proyecto </label>

    <input
      type="date"
      name="date_limit"
      id="date_limit"
      min="2023-12-12"
      max="2028-12-31"
      required
    />

    <label for="number">Presupuesto del Proyecto </label>

    <input
      type="number"
      name="budget"
      id="budget"
      min="1000"
      max="1000000"
      oninput="this.value = Math.abs(this.value)"
      required
    />

    <label for="reward">Recompenza por Inversion:</label>

    <input
      type="text"
      name="reward"
      placeholder="Ingresa una recomenza por invertir en el proyecto"
      autocomplete="off"
      id="reward"
      oninput="this.value =
        this.value.replace(/[^a-zA-Z0-9 ]/g, '')"
      required
    />

    <input type="submit" value="Guardar Proyecto" class="btn" />
  </form>
</section>
{% include "footer.html" %} {% endblock %}
