<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/project/view.css') }}"
/>

{% extends "base.html" %} {% block content %} {% include "navbar.html" %}

<main class="main__container">
  <header class="hero__container">
    <img src="{{ project.presentacion }}" srcset="" alt="image this project" />
    <section class="card__text">
      <h1>{{ project.nombre }}</h1>
      <h2>{{ project.metaAlcanzada }} / {{ project.presupuesto }}</h2>
    </section>
  </header>

  <article class="article__info">
    <aside class="group__info">
      <p>
        <i class="ti ti-users"></i>

        Grupo:
        <a
          class="group__link"
          href="{{ url_for('group.index', id=project.group.id_grupo_colaboradores) }}"
        >
          {{ project.group.nombre }}<i class="ti ti-external-link"></i>
        </a>
      </p>

      <p>
        Fecha de creacion: {{ project.group.fecha_creacion }}
        <i class="ti ti-calendar-month"></i>
      </p>
    </aside>

    <h2>{{ project.idea }}</h2>

    <p>{{ project.descripcion }}</p>

    <h3>Posible Recompenza</h3>

    <p>{{ project.recompensa }}</p>

    <br />

    <div class="project__state">
      <p>{{ project.estado }}</p>
      <p>{{ project.fechaLimite }}</p>
    </div>
  </article>

  {% if user_in_group == False%}

  <section class="section__donate">
    <h2>Invierte en el Proyecto</h2>

    <form
      action="{{ url_for('donation.register', project_id=project.idProyecto) }}"
      class="donate__form"
      method="POST"
    >
      <input
        type="number"
        name="amount"
        id="amount"
        oninput="this.value = this.value.replace(/[^0-9 ]/g, '')"
        placeholder="Cantidad"
        required
      />
      <button type="submit"><i class="ti ti-credit-card"></i></button>
    </form>
  </section>

  {% endif %}
  <section class="section__comments">
    {% if comments %}
    <h3>{{ comments|length }} Comentarios</h3>

    {% else %}

    <h3>0 | Comentarios</h3>

    {% endif %}

    <form
      action="{{ url_for('projects.comment', project_id=project.idProyecto) }}"
      class="comment__form"
      method="POST"
    >
      <input
        type="text"
        name="comment"
        id="comment"
        placeholder="Comenta algo sobre el proyecto"
      />
      <button type="submit"><i class="ti ti-send-2"></i></button>
    </form>

    <ul class="comments__list">
      {% if comments %} {% for comment in comments %}
      <li class="comment__container">
        <div class="user__info">
          <img
            class="comment__image"
            src="{{ comment.usuario.image_perfil }}"
            alt="image user comment "
          />
          <a
            href="{{ url_for('user.profile_by_id', username=comment.usuario.nombre) }}"
            >{{ comment.usuario.nombre }}</a
          >
        </div>
        <div class="comment__info">
          <p>{{ comment.fecha_comentario }}</p>
          <p>{{ comment.comentario }}</p>
        </div>
      </li>
      {% endfor %} {% else %}

      <li class="comment__container"><p>No hay comentarios disponibles</p></li>

      {% endif %}
    </ul>
  </section>
</main>
{% include "footer.html" %} {% endblock %}
