<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>CrowdFunding</title>

    <!-- jinja2 static css -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <!-- icon page -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='icons/icon-page.svg') }}"
    />
    <!-- link to chosen google fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,600,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    {% block content %} {% endblock %}
  </body>
</html>
