<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/hero.css') }}"
/>

{% extends "base.html" %} {% block content %}
<div class="hero">
  <div class="hero-text">
    <h1>
      Visualize Your <span class="color-effect">Colors</span><br />On a Real
      Website
    </h1>
    <p class="subtitle">
      Choosing a color palette for your website?<br />Use the Toolbar below to
      realize your choices.
    </p>
    <div class="hero-cta">
      <a href="#toolbar" onclick="highlightToolbar()" class="primary-button"
        >Get Started</a
      >
      <a href="#how" class="secondary-button">How does it work?</a>
    </div>
    <div class="hero-scroll">
      <svg width="23" height="33" viewBox="0 0 23 33" fill="none">
        <rect
          x="0.767442"
          y="0.767442"
          width="20.7209"
          height="31.4651"
          rx="10.3605"
          stroke="var(--primary)"
          stroke-width="1.53488"
        />
        <rect x="9" y="8" width="4" height="8" rx="2" fill="var(--primary)" />
      </svg>
      <p class="sub">Scroll to see more sections</p>
    </div>
  </div>
  <div class="hero-img">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="652"
      height="644"
      viewBox="0 0 652 644"
      fill="none"
      class="mondrian"
    >
      <rect
        x="4.69366"
        y="4"
        width="643.306"
        height="636"
        stroke="var(--secondary)"
        stroke-width="8"
      />
      <rect
        x="5"
        y="4"
        width="154.827"
        height="70.282"
        fill="var(--secbuttn)"
        stroke="var(--secondary)"
        stroke-width="8"
      />
      <rect
        x="411"
        y="4"
        width="202"
        height="67"
        fill="var(--accent)"
        stroke="var(--secondary)"
        stroke-width="8"
      />
      <rect
        x="411"
        y="72"
        width="202"
        height="167"
        fill="var(--accent)"
        stroke="var(--secondary)"
        stroke-width="8"
      />
      <rect
        x="411"
        y="405"
        width="202"
        height="84"
        fill="var(--secondary)"
        stroke="var(--secondary)"
        stroke-width="8"
      />
      <rect
        x="241"
        y="615"
        width="372"
        height="25"
        fill="var(--secondary)"
        stroke="var(--secondary)"
        stroke-width="8"
      />
      <rect
        x="76"
        y="569"
        width="166"
        height="71"
        fill="var(--secondary)"
        stroke="var(--secondary)"
        stroke-width="8"
      />
      <rect
        x="242"
        y="570"
        width="169"
        height="45"
        fill="var(--primary)"
        stroke="var(--secondary)"
        stroke-width="8"
      />
      <rect
        x="242"
        y="489"
        width="169"
        height="81"
        fill="var(--secbuttn)"
        stroke="var(--secondary)"
        stroke-width="8"
      />
      <rect
        x="242"
        y="404"
        width="169"
        height="85"
        fill="var(--secbuttn)"
        stroke="var(--secondary)"
        stroke-width="8"
      />
      <rect
        x="75"
        y="72"
        width="336"
        height="333"
        fill="var(--primbuttn)"
        stroke="var(--secondary)"
        stroke-width="8"
      />
      <rect
        x="76"
        y="405"
        width="166"
        height="165"
        fill="var(--primary)"
        stroke="var(--secondary)"
        stroke-width="8"
      />
      <rect
        opacity="0.5"
        x="411"
        y="489"
        width="202"
        height="126"
        fill="var(--accent)"
        stroke="var(--secondary)"
        stroke-width="8"
      />
      <rect
        x="613"
        y="489"
        width="35"
        height="151"
        fill="var(--primbuttn)"
        stroke="var(--secondary)"
        stroke-width="8"
      />
      <rect
        x="411"
        y="238"
        width="103"
        height="167"
        fill="var(--secondary)"
        stroke="var(--secondary)"
        stroke-width="8"
      />
      <rect
        x="514"
        y="238"
        width="99"
        height="167"
        fill="var(--secondary)"
        stroke="var(--secondary)"
        stroke-width="8"
      />
      <rect
        x="613.206"
        y="4"
        width="34.7942"
        height="484.655"
        fill="var(--secondary)"
        stroke="var(--secondary)"
        stroke-width="8"
      />
      <rect
        x="159.827"
        y="4"
        width="250.853"
        height="67.1507"
        fill="var(--secondary)"
        stroke="var(--secondary)"
        stroke-width="8"
      />
      <rect
        x="5"
        y="72"
        width="71"
        height="167"
        fill="var(--secondary)"
        stroke="var(--secondary)"
        stroke-width="8"
      />
      <rect
        x="5"
        y="238"
        width="71"
        height="251"
        fill="var(--secbuttn)"
        stroke="var(--secondary)"
        stroke-width="8"
      />
      <rect
        x="4.69366"
        y="487.261"
        width="71.3258"
        height="152.739"
        fill="var(--accent)"
        stroke="var(--secondary)"
        stroke-width="8"
      />
    </svg>
  </div>
</div>

{% endblock %}
