<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/hero.css') }}"
/>

{% extends "base.html" %} {% block content %}
<div class="hero">
  <div class="hero-text">
    <h1 class="hero-title">
      <span class="color-effect">Crowdfunding</span> Para Tus Projectos
      Innovadores E Inversiones
    </h1>
    <p class="subtitle">
      YStartUp es una plataforma de crowdfunding que te permite financiar tus
      proyectos e inversiones. <br />
      Tu proyecto puede ser de cualquier tipo y de cualquier tamaño. <br />
    </p>
    <div class="hero-cta">
      <button href="#how" class="secondary-button">Crea tu Proyecto</button>
    </div>
    <div class="hero-scroll">
      <p class="sub">Has scroll para ver mas.</p>
    </div>
  </div>
  <div class="hero-img">
    <embed
      width="502"
      height="504"
      class="mondrian"
      src="{{ url_for('static', filename='icons/Scenes.svg') }}"
    />
  </div>
</div>

{% endblock %}
